a {
	text-decoration: none;
	font-weight: bold;
}

div {
	padding: 5px;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.2em;
}

#wrapper {
	width:1024px;
	margin: auto;
}

#header {
	border-bottom:1px black solid;
}

#siteexp {
	font-size:80%;
	color:#888888;
	margin-left:45px;
}

#sidebar {
	float:right;
	width:200px;
	margin:15px;
	border-left: 1px gray solid;
}

label {
	font-weight: bold;
	font-size: 90%;
}

.exp {
	font-size:80%;
	color: #888888;
}

#main {
	width: 730px;
	margin: 15px 245px 15px 15px;
	height: 600px;
	overflow: auto;
}

.usage p {
	margin-left:20px;
	font-size:90%;
	color:#444444;
}

#result {
	font-size: 90%;
}

.clear {
	clear:both;
}

#footer {
	font-size:80%;
	text-align: center;
	padding:5px 30px;
}
